.App {
  margin: 10px;
}

.App .data {
  padding-right: 10px;
}

.App .data .field {
  margin: 10px 0;
  display: flex;
}

.App .data .field span {
  flex: 1;
}

.App .data .field input {
  height: 20px;
  flex: 4;
}

.App .receipt {
  padding: 10px;
}

.App .receipt .footer {
  text-align: right;
}


@media print {
  .App .data {
    display: none;
  }
}
